doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" href='./stylesheets/style.css')
  body
    if user.name
      div#header
        h3 Welcome #{user.name}
        img(src='#{user.image}')
    div#app #{content}
    script window.__REDUX_STATE__ ="#{reduxState}"
    script(type='text/javascript',src='./bundle.js')
